// colors
$txt-clr: #6e6e6e;
$black-txt-clr: #090909;
$accent-clr: #ff9c08;

// hover colors
$acc-btn-bg-clr: #fd9800;
$btn-bg-clr: #ececec;

// transition
$time-func: 1s cubic-bezier(0.4, 0, 0.2, 1);
