<section class="section">
  <div class="container">
    <h1 class="section__title">about us</h1>
    <div class="about">
      <div class="section__left">
        <h2 class="section__subtitle">We are here to support vulnerable communities</h2>
        <p class="section__text">
          Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua molestie a iaculis at erat pellentesque adipiscing commodo
          elit at.
        </p>
        <picture>
          <img
            class="section__img--one"
            srcset="/images/about/girl.jpg 1x, /images/about/girl@2x.png 2x"
            src="/images/about/girl.jpg"
            alt="girl"
            width="596"
          />
        </picture>
        <picture>
          <img
            class="section__img--two"
            srcset="/images/about/children.jpg 1x, /images/about/children@2x.png 2x"
            src="/images/about/children.jpg"
            alt="children"
            width="596"
          />
        </picture>
      </div>
      <div class="section__right">
        <ul class="about__list">
          <li class="about__item">
            <a href="#" class="btn about__btn">Donate now</a>
          </li>
          <li class="about__item">
            <a href="#" class="btn about__btn--white">About us</a>
          </li>
        </ul>
        <picture>
          <img
            class="section__img--three"
            srcset="/images/about/boys.jpg 1x, /images/about/boys@2x.png 2x"
            src="/images/about/boys.jpg"
            alt="boys"
            width="596"
          />
        </picture>
        <p class="section__text--right">
          Vitae aliquet nec ullamcorper sit amet risus nullam eget felis et netus et malesuada fames
          urna nec tincidunt praesent semper feugiat metus aliquam eleifend mi in nulla posuere
          sollicitudin pretium aenean pharetra magna ac placerat.
        </p>
        <ul class="right__list">
          <li class="right__item">
            <svg class="right__icon" width="11.7px" height="8.7px">
              <use href="/images/svg/sprite.svg#check"></use>
            </svg>
            <p class="right__text">Excepteur sint occaecat cupidatat non proident</p>
          </li>
          <li class="right__item">
            <svg class="right__icon" width="11.7" height="8.7">
              <use href="/images/svg/sprite.svg#check"></use>
            </svg>
            <p class="right__text">Pellentesque elit ullamcorper dignissim</p>
          </li>
          <li class="right__item">
            <svg class="right__icon" width="11.7" height="8.7">
              <use href="/images/svg/sprite.svg#check"></use>
            </svg>
            <p class="right__text">Nibh mauris cursus mattis molestie a iaculis</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
