<section class="section">
  <div class="container container__flex container__flex--banner">
    <h2 class="section__subtitle section__subtitle--banner">
      Join us and let’s make a better world, today
    </h2>
    <ul class="video__list video__list--banner">
      <li class="video__item">
        <a href="#" class="btn video__btn video__btn--black">Donate now</a>
      </li>
      <li class="video__item">
        <a href="#" class="btn video__btn video__btn--white">About us</a>
      </li>
    </ul>
  </div>
</section>
