<header class="header">
  <!-- Add logo -->
  <div class="logo">
    <svg class="logo__icon" width="35.47" height="31.23">
      <use href="/images/svg/sprite.svg#logo"></use>
    </svg>
    <p class="logo__text">Philanthropy X</p>
  </div>
  <!-- Add menu -->
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#" class="navigation__link">Home</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">About</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">Pages</a>
      </li>
    </ul>
  </nav>
  <!-- Add basket and button -->
  <div class="basket">
    <svg class="basket__icon" width="32" height="34">
      <use href="/images/svg/sprite.svg#basket1"></use>
    </svg>
    <a class="btn basket__btn">Donate now</a>
  </div>
</header>
