<section class="section">
  <div class="container">
    <h2 class="section__title">how we help?</h2>
    <div class="help">
      <p class="section__subtitle section__subtitle--help">
        What are we doing to assist these communities?
      </p>
      <a href="#" class="btn about__btn">Donate now</a>
    </div>
    <ul class="help__list">
      <li class="help__item">
        <svg class="help__icon" width="172px" height="172px">
          <use href="/images/svg/sprite.svg#house"></use>
        </svg>
        <p class="help__title">House & shelter</p>
        <p class="help__text">
          Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum
          tempus hac.
        </p>
      </li>
      <li class="help__item">
        <svg class="help__icon" width="172px" height="172px">
          <use href="/images/svg/sprite.svg#heart"></use>
        </svg>
        <p class="help__title">Love & support</p>
        <p class="help__text">
          Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum
          tempus hac.
        </p>
      </li>
      <li class="help__item">
        <svg class="help__icon" width="172px" height="172px">
          <use href="/images/svg/sprite.svg#basket"></use>
        </svg>
        <p class="help__title">Food & groceries</p>
        <p class="help__text">
          Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum
          tempus hac.
        </p>
      </li>
      <li class="help__item">
        <svg class="help__icon" width="172px" height="172px">
          <use href="/images/svg/sprite.svg#tree"></use>
        </svg>
        <p class="help__title">Environmental help</p>
        <p class="help__text">
          Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum
          tempus hac.
        </p>
      </li>
      <li class="help__item">
        <svg class="help__icon" width="172px" height="172px">
          <use href="/images/svg/sprite.svg#edu"></use>
        </svg>
        <p class="help__title">Education</p>
        <p class="help__text">
          Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum
          tempus hac.
        </p>
      </li>
      <li class="help__item">
        <svg class="help__icon" width="172px" height="172px">
          <use href="/images/svg/sprite.svg#med"></use>
        </svg>
        <p class="help__title">Health & insurance</p>
        <p class="help__text">
          Lorem ipsum dolor sit amet consecte tur adipiscing elit semper dalar dolor elementum
          tempus hac.
        </p>
      </li>
    </ul>
  </div>
</section>
