<section class="section hero">
  <div class="container">
    <h1 class="hero__title">Giving help to those who need it</h1>
    <p class="hero__text">
      Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam
      sit nullam.
    </p>
    <ul class="hero__list">
      <li class="hero__item">
        <a href="#" class="btn hero__btn">Donate now</a>
      </li>
      <li class="hero__item">
        <a href="#" class="btn hero__btn--white">About our charity</a>
      </li>
    </ul>
  </div>
</section>
