<section class="section">
  <div class="container container__center">
    <h2 class="section__title">News & Resources</h2>
    <p class="section__subtitle">Read our latest news</p>
    <div class="news">
      <ul class="news__list">
        <li class="news__item">
          <img
            src="/images/news/food.jpg"
            alt="food"
            srcset="/images/news/food.jpg 1x, /images/news/food@2x.jpg 2x"
          />
          <div class="news__wrapper">
            <a class="btn news__btn news__btn--article" href="#">Articles</a>
            <p class="news__date">Feb 11, 2022</p>
            <h3 class="news__title">What to donate to a food bank and what to avoid ?</h3>
            <a class="btn news__btn--rm" href="#">Read more</a>
          </div>
        </li>
        <li class="news__item">
          <img
            src="/images/news/clothes.jpg"
            alt="food"
            srcset="/images/news/clothes.jpg 1x, /images/news/clothes@2x.jpg 2x"
          />
          <div class="news__wrapper">
            <a class="btn news__btn news__btn--article" href="#">Resources</a>
            <p class="news__date">Feb 11, 2022</p>
            <h3 class="news__title">13 ways to give to charity without breaking your budget</h3>
            <a class="btn news__btn--rm" href="#">Read more</a>
          </div>
        </li>
      </ul>
    </div>
    <ul class="about__list about__list--center">
      <li class="about__item">
        <a href="#" class="btn about__btn">Donate now</a>
      </li>
      <li class="about__item">
        <a href="#" class="btn about__btn--white">Read more news</a>
      </li>
    </ul>
  </div>
</section>
