.advantages {
  margin-top: -52px;
  padding-top: 134px;
  padding-bottom: 75px;
}
.advantages__list {
  display: flex;
}
.advantages__item {
  padding: 0 60px 2px;
}
.advantages__item:not(:last-child) {
  margin-right: 28px;
}
.advantages__figure {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 60px;
  line-height: 1.33;

  text-align: center;

  color: $black-txt-clr;

  margin-bottom: 5px;
}
.advantages__figure--clr {
  color: $accent-clr;
}
.advantages__text {
  font-size: 20px;
  line-height: 1.1;

  text-align: center;
}
